td{
	border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    font-size: 12px;

    
}

table{border-color: black;
    border-collapse: collapse;
    width: 100%;
    background-color:aliceblue;
}

